@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

body {
  font-family: "Rubik Mono One", sans-serif;
  background-color: #191622;
  padding: 120px;
  text-align: center;
}

.words {
  color: #fdec00;
  font-size: 0;
  line-height: 1;
}

.words span {
  font-size: 10vh;
  display: inline-block;
  animation: move 2s ease-in-out infinite;
}

/* Create Animation */
@keyframes move {
  0% {
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px #fcf59d
  }
  100% {
    transform: translate(33%, 0);
  }
}

.wors-1 span:nth-child(2) {
  animation-delay: 0.1s;
}
.wors-1 span:nth-child(3) {
  animation-delay: 0.2s;
}
.wors-1 span:nth-child(4) {
  animation-delay: 0.3s;
}
.wors-1 span:nth-child(5) {
  animation-delay: 0.4s;
}

.wors-2 span:nth-child(2) {
  animation-delay: 0.1s;
}
.wors-2 span:nth-child(3) {
  animation-delay: 0.2s;
}
.wors-2 span:nth-child(4) {
  animation-delay: 0.3s;
}

.wors-3 span:nth-child(2) {
  animation-delay: 0.1s;
}
.wors-3 span:nth-child(3) {
  animation-delay: 0.2s;
}
.wors-3 span:nth-child(4) {
  animation-delay: 0.3s;
}
.wors-3 span:nth-child(5) {
  animation-delay: 0.4s;
}
.wors-3 span:nth-child(6) {
  animation-delay: 0.5s;
}
.wors-3 span:nth-child(7) {
  animation-delay: 0.6s;
}
.wors-3 span:nth-child(8) {
  animation-delay: 0.7s;
}
